body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

#chat-container {
    position: relative;
    width: 90%; 
    height: 90vh;
    margin: 5vh auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#message-area {
    flex-grow: 1; 
    overflow-y: auto;
    padding: 20px;
    background-color: #e5e5e5;
}

.message {
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px;
    color: #fff;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    background-color: #007bff;
    margin-left: auto;
    margin-right: 0;
}

.server-message {
    background-color: #666;
    margin-left: 0;
    margin-right: auto;
}

#user-input {
    width: 100%;
    padding: 15px;
    border: none;
    border-top: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 1.1rem;
}

#send-button {
    width: 100%;
    padding: 15px 0;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

#loading-indicator {
    position: absolute;
    top: calc(90vh - 180px);
    right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: right;
    height: 50px;
}

#loading-indicator img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

#loading-indicator span {
    font-size: 12px;
    line-height: 20px;
}
